<a href="https://colab.research.google.com/github/c7934597/Python_Numpy_Basic_Practice/blob/master/PythonCh5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 100]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 100]

In [0]:
'''
list.append(element)
將元素x加入至list的尾端，等同於語法『 list[len(list):] = [x] 』
'''

my_list.append(777)
print(my_list)

my_list[len(my_list):] = [9]
print(my_list)

my_list.append([1, 1, 1, 1])
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 100, 777]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 100, 777, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 100, 777, 9, [1, 1, 1, 1]]

In [0]:
'''
list.extend(L)
將L這個List增加至list之中，等同於語法『 list[len(list):] = L 』
'''

your_list = [0, 0, 0, 0, 0]
#將my_list的內容增加至your_list之後
your_list.extend(my_list)
print(your_list)

[0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 100, 777, 9, [1, 1, 1, 1]]

In [0]:
'''
list.insert(i, element)
將element插入至第 i 個index的位置
'''

#將元素[9]插入至your_list位置第5的地方
your_list.insert(5, 9)
#印出結果
print(your_list)

[0, 0, 0, 0, 0, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 100, 777, 9, [1, 1, 1, 1]]

In [0]:
'''
list.remove(value)
刪除list中特定元素值的第一個元素
'''

#把your_list的第1個值為9的元素刪除
your_list.remove(9)
print(your_list)

your_list.remove([1, 1, 1, 1])
print(your_list)

[0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 100, 777, 9, [1, 1, 1, 1]]
[0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 100, 777, 9]

In [0]:
'''
list.pop(i)
取出list中指定第 i 個元素，並且將該元素刪除
list.pop()
取出list中最尾端的元素，並且將該元素刪除(像是堆疊Stack那樣)
在實務應用上可以用一個變數來接收pop出來的元素喔！
'''

your_list.pop(17)
print(your_list)

my_pop = your_list.pop()
print(my_pop)
print(your_list)

[0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 777, 9]
9
[0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 777]

In [0]:
'''
list.index(value)
找出特定元素值的第一個位置(index)
'''

print(your_list)
your_list.index(9)

[0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 777]

13

In [0]:
'''
list.count(value)
列出特定元素值的元素數量
'''

print(your_list)
your_list.count(9)

[0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 777]

3

In [0]:
'''
list.sort()
將list由小至大排序
list.reverse()
將list由大至小排序
'''

your_list.insert(2, 55)
print(your_list)

your_list.sort()
print(your_list)

your_list.reverse()
print(your_list)

[0, 0, 55, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 777]
[0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 55, 777]
[777, 55, 10, 9, 9, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0, 0, 0, 0]

In [0]:
'''
list.copy()
拷貝一個list
'''

#拷貝your_list給my_copy
my_copy = your_list.copy()
print(my_copy)

[777, 55, 10, 9, 9, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0, 0, 0, 0]

In [0]:
'''
list.clear()
清除list內所有資料
'''

my_copy.clear()
print(my_copy)

[]

In [0]:
t = (1, 2, 3, 4, 5)
print(t)

print(t[0])

#嘗試修改Tuple的內容就會出錯！
t[2] = 9

(1, 2, 3, 4, 5)
1

TypeError: ignored

In [0]:
# list
a = [1, 2, 3, 4]
print(type(a))
 
# convert a to tuple
b = tuple(a)
print(type(b))

<class 'list'>
<class 'tuple'>

In [0]:
'''
set(element)
用set()宣告集合！
'''

#宣告Set
my_set = set(['Apple', 'Banana', 'Coconut', 'Banana', 'Dragon Fruit'])
#Set會自動去除重複值
print(my_set)

{'Apple', 'Coconut', 'Banana', 'Dragon Fruit'}

In [0]:
'''
in
確認元素是否存在於Set之中
'''

test1 = 'Apple' in my_set
test2 = 'apple' in my_set

print(test1)
print(test2)

True
False

In [0]:
'''
差集(Difference)
SetA – SetB，輸出結果為SetA有，而SetB沒有的元素
'''

my_set = set(['Apple', 'Banana', 'Coconut', 'Banana', 'Dragon Fruit'])
your_set = set(['Coconut', 'Dragon Fruit'])
print(my_set)
print(your_set)

#差集運算，列出my_set有，而your_set沒有的元素
print(my_set - your_set)

{'Apple', 'Coconut', 'Banana', 'Dragon Fruit'}
{'Coconut', 'Dragon Fruit'}
{'Apple', 'Banana'}

In [0]:
'''
聯集(Union)
回傳兩個Set所有的元素
'''

print(my_set)
print(your_set)

#聯集運算
print(my_set | your_set)

{'Apple', 'Coconut', 'Banana', 'Dragon Fruit'}
{'Coconut', 'Dragon Fruit'}
{'Coconut', 'Banana', 'Dragon Fruit', 'Apple'}

In [0]:
'''
交集(Intersection)
回傳兩個Set都要存在的元素
'''

print(my_set & your_set)

{'Coconut', 'Dragon Fruit'}

In [0]:
'''
對稱差集合(Symmetric Difference)
這個原理有點複雜，點這裡看詳細解釋：Symmetric Difference(Wikipedia)
但如果是只有兩個Set做運算的話，結果會是(SetA或SetB)而且(去除SetA、SetB都有的元素)！
'''

print(my_set ^ your_set)

{'Apple', 'Banana'}

In [0]:
'''
字典(Dictionary)，這算是很經典的資料結構之一。
使用大括號宣告字典即可
'''

#宣告字典
dict_fruit = {"Apple":16, "Banana":9, "Coconut":34, "Dragon Fruit":39}
print(dict_fruit)

{'Apple': 16, 'Banana': 9, 'Coconut': 34, 'Dragon Fruit': 39}

In [0]:
'''
修改數值
'''

#Apple修改為45
dict_fruit['Apple'] = 45
print(dict_fruit['Apple'])

45

In [0]:
'''
字典Key清單
取出字典內的Key值
'''

keytest = dict_fruit.keys()
print(keytest)

#將字典的key值轉成一個List，且存入list_fruit變數中
list_fruit = list(dict_fruit.keys())
print(list_fruit)

dict_keys(['Apple', 'Banana', 'Coconut', 'Dragon Fruit'])
['Apple', 'Banana', 'Coconut', 'Dragon Fruit']

In [0]:
'''
確認字典是否存在某特定Key
'''

'Lemon' in dict_fruit

False

In [0]:
'''
刪除字典裡的元素
'''

print(dict_fruit)

#刪除「Banana」
del dict_fruit['Banana']
dict_fruit

{'Apple': 45, 'Banana': 9, 'Coconut': 34, 'Dragon Fruit': 39}

{'Apple': 45, 'Coconut': 34, 'Dragon Fruit': 39}

In [0]:
'''
我們都知道List和Tuple最大的差異在於Tuple的內容是創建之後就無法修改的。
但List & Tuple這兩個資料結構該怎麼運用呢？

我相信Tuple的運用情境肯定比較困難，終於找到一個情境：

 

用Tuple實作multi-key Dict
'''

key_val= {('andy','wang'): 'NCU', ('emily', 'chen'): 'NTU', ('john', 'tsai'): 'UCLA'}
print(key_val.keys())
print(key_val['andy', 'wang'])
print(key_val['john', 'tsai'])

dict_keys([('andy', 'wang'), ('emily', 'chen'), ('john', 'tsai')])
NCU
UCLA